---

---

<section class="relative about xl:h-[920px] h-auto overflow-hidden">
  <div class="container mx-auto h-full">
    <div class="grid grid-cols-1 xl:grid-cols-2 gap-4 h-full">
      <div class="relative pr-20 flex flex-col justify-center p-4">
        <img
          class="absolute xl:block hidden right-[-60px] top-[20%] z-30"
          src="/img/figure_1.png"
          alt=""
          width="90"
        />
        <h2>Comprar al <br /> por Mayor Directo <br /> de Importador</h2>
        <p class="mt-10">
          En Ansel Import Perú E.I.R.L trabajamos con materiales importados y
          acabados de alta calidad.
        </p><br />
        <p>
          Precios competitivos, modelos variados y stock disponible para entrega
          rápida.
        </p>
        <p class="my-4">Ideales para:<p/>
        <div class="flex gap-10">
          <div>
            <p class="flex items-center gap-2 pb-5">
              <img src="/img/icono.png" alt="" width="30" /> Emprendedores
            </p>
            <p class="flex items-center gap-2 pb-5">
              <img src="/img/icono.png" alt="" width="30" /> Marcas de Ropa
            </p>
            <p class="flex items-center gap-2 pb-5">
              <img src="/img/icono.png" alt="" width="30" /> Empresas Publicitarias
            </p>
          </div>
           <div>
            <p class="flex items-center gap-2 pb-5">
              <img src="/img/icono.png" alt="" width="30" /> Eventos y Promociones
            </p>
            <p class="flex items-center gap-2 pb-5">
              <img src="/img/icono.png" alt="" width="30" /> Negocios Mayoristas
            </p>
          </div>
        </div>
      </div>
      <div class="">
        <img
          class="xl:absolute static right-0 top-0 xl:w-[50vw] w-full"
          src="/img/img-1.png"
          alt=""
        />
      </div>
    </div>
  </div>
</section>

<style>
  h2 {
    color: var(--primary-color);
  }
  .about {
    background-color: var(--background);
  }
</style>
