---

---

<footer class="py-[90px]">
  <div class="container mx-auto xl:py-10 py-4 text-center">
    <h2>Haz Crecer Tu Negocio con Nosotros</h2>
    <p>
      Si buscas proveedor confiable de gorras al por mayor en Lima, somos tu
      mejor opción.
    </p>
    <h3 class="mt-10">Pedidos y cotizaciones <br> 939 502 430</h3>
    <p>&copy; 2024 AIP. Todos los derechos reservados.</p>
  </div>
</footer>

<style>
    footer{
        background-color: #fff;
    }
    h3{
        color: var(--secondary-color);
    }
</style>