---

---

<div class="w-full flex justify-end bg-[#c1b8ad] xl:bg-white">
  <img class="xl:mb-[-100px] xl:w-[60vw] w-full" src="/img/post.png" alt="" />
</div>

<section class="post xl:pt-[300px] py-[50px] xl:pb-[200px]">
  <div class="container mx-auto">
    <div class="flex xl:flex-row flex-col items-center gap-20 p-4">
      <div class="xl:w-1/3 w-full">
        <h2 class="border-b-8 border-white">MODELOS Y PRECIOS AL POR MAYOR</h2>
      </div>
      <div class="xl:w-2/3 w-full">
        <h4 class="text-white">
          Clásico Lona 7.5 – Venta por mayor Deportivo Tela Mojada 18 – Venta
          por mayor Planas Drill 11 – Venta por mayor Lona Mudo para Publicidad
          Prelavado Mudo para Publicidad
        </h4>
        <p class="mt-4">
          (Precios especiales según cantidad. Consultar stock y mínimo de
          compra.)
        </p>
      </div>
    </div>
  </div>
</section>

<style>
  .post {
    background-image: url("/img/fondo.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  h4 {
    font-size: 3rem;
    line-height: 1.2;
  }
  h2{
    line-height: 1.2;
  }
  h2,
  p {
    color: #fff !important;
  }
  p {
    font-size: 1.5rem;
  }
</style>
