---
import CardProduct from "../components/CardProduct.astro";
---

<section class="md:py-[150px] py-[50px]">
  <div class="container mx-auto">
    <div class="grid grid-cols-1 xl:grid-cols-2 gap-10">
      <CardProduct
        title="Gorras Ovaladas Material Drill"
        description="Resistentes, firmes y de excelente estructura. Perfectas para uso urbano y personalizado."
        image="/img/product_1.png"
      />
      <CardProduct
        title="Gorros en Material Prelavado Importado"
        description="Acabado moderno, textura suave y estilo casual. Ideal para marcas juveniles."
        image="/img/product_2.png"
      />
      <CardProduct
        title="Tela Mojada Importada"
        description="Material ligero, deportivo y moderno. Muy solicitado para líneas urbanas y deportivas."
        image="/img/product_3.png"
      />
      <CardProduct
        title="Lona de Dama con Brillo"
        description="Elegante y llamativa. Perfecta para público femenino o líneas más estilizadas."
        image="/img/product_4.png"
      />
    </div>
  </div>
</section>
