---

---

<section class="why relative xl:h-[600px] h-full">
  <div
    class="flex xl:flex-row flex-col w-full gap-10 justify-between items-center container mx-auto lx:py-20 pt-[50px] h-full">
    <div class="xl:w-1/2 w-full flex flex-col justify-center">
      <h2 class="text-center">¿POR QUÉ <br /> ELEGIRNOS?</h2>
      <p class="text-center">
        Comprar al por mayor ofrece numerosas ventajas, como precios más bajos,
        mayor variedad de productos y la posibilidad de personalizar pedidos. Es
        ideal para negocios que buscan maximizar sus ganancias y ofrecer a sus
        clientes una amplia gama de opciones.
      </p>
    </div>
    <div class="xl:w-1/2 w-full">
      <figure class="xl:absolute static right-0 bottom-0">
        <img
          src="/img/mujer-con-gorra.png"
          alt="Imagen ilustrativa sobre compras al por mayor"
        />
      </figure>
    </div>
  </div>
</section>

<style>
  .why {
    background-color: var(--background);
    background-image: url("/img/fondo-beneficios.png");
    background-position: left center;
    background-size: 60% auto;
    background-repeat: no-repeat;
  }
  h2,
  p {
    color: #fff !important;
  }

  @media screen and (max-width: 1280px) {
    .why {
      background-size: cover !important;
    }
    
  }
</style>
