---

---

<a
  class="text-blue-500 px-6 py-4 border-3 text-lg rounded-full cursor-pointer transition-colors duration-300 hover:bg-blue-500 "
  href="https://wa.me/+51939502430?text=Necesito Más Información">
  COTIZA AHORA
</a>

<style>
  a {
    border-color: var(--secondary-color);
    color: var(--secondary-color);
    font-family: "font--primary";
  }
  a:hover {
    color: white;
  }
</style>

